html {
	font-size: 100%; 
}

body {
	position: relative;
	min-height: 100vh;
}

body * {
	font-family: $font-family;
	color: $cor-txt;
	font-weight: $regular;
	line-height: 120%;
}

.container {
	max-width: $width; 
	width: 97%;
	padding: 0 $padding-container;
	margin: 0 auto;
	position: relative;
	@include box-sizing();
	@include clear();

	@media all and (max-width: 1000px){
		padding-left: ($padding-container)/2;
		padding-right: ($padding-container)/2;
	}	

	@media all and (max-width: 600px) {
		padding-left: ($padding-container)/4;
		padding-right: ($padding-container)/4;
	}
}

.row {
	margin-right: ($padding-col)*(-1);
	margin-left: ($padding-col)*(-1);
	display: block;
	@include clear();

	[class*="col-"] {
		float: left;
		padding-right: $padding-col;
		padding-left: $padding-col;
		@include box-sizing();

		img {
			max-width: 100%;
		}
	}


	@for $i from 1 through 12 {
		.col-#{$i} {
			width: $i*(100%/12);
		}
	}

	.col-4:nth-child(3n+1) {
		@include clear;
	}

	@media all and (max-width: 1100px) {
		.col-5, .col-6, .col-7 {
			width: 100%;
			margin-bottom: 50px;

			&:last-child {
				margin-bottom: 0px;
			}
		}

		.col-4 {
			width: 50%;
		}
	}

	@media all and (max-width: 750px) {
		.col-4 {
			width: 100%;
		}
	}

	@for $i from 1 through 12 {
		.margin-dir-#{$i} {
			&:after {
				content: '';
				display: inline-block;
				width: $i*(100%/12);
			}
		}
	}
}

.box-content {
	@include clear;
	width: 100%;
	overflow: hidden;
	padding: 100px 0;

	&.no-padding {
		padding: 0;
	}

	&.box-page {
		
	}

	&.box-slide {
		margin-bottom: 30px;
		border: 5px solid $azul;
		border-right: 0;
		border-left: 0;
	}

	.owl-nav {
		margin-top: 25px;
		text-align: center;

		.owl-prev, .owl-next {
			display: inline-block;
			margin: 0 5px;
			padding: 0 5px;
			@include animacao;

			i {
				font-size: 20px;
				color: $azul;
				@include animacao;
			}

			&:hover:not(.disabled) {
				i {
					color: $azul-escuro;
				}
			}

			&.disabled {
				opacity: .3;
				cursor: default;
			}
		}
	}

	&.azul, &.azul-escuro {
		h2 {
			color: #ffffff;

			&:after {
				background: #ffffff;
			}
		}

		p, .p {
			color: #ffffff;
		}

		.owl-nav {
			.owl-prev, .owl-next {
				i {
					color: #ffffff;
				}
			}
		}
	}

	&.azul {
		background-color: $azul;

		.owl-nav {
			.owl-prev, .owl-next {
				&:hover:not(.disabled) {
					i {
						color: $azul-escuro;
					}
				}
			}
		}
	}

	&.azul-escuro {
		background-color: $azul-escuro;

		.owl-nav {
			.owl-prev, .owl-next {
				&:hover:not(.disabled) {
					i {
						color: $azul;
					}
				}
			}
		}
	}
}

.no-padding-top {
	padding-top: 0!important;
}

.home {
	.box-projetos {
		padding-top: 70px;
	}

	.box-page-servico {
		padding-bottom: 70px;
	}
}