.footer {
	padding: 50px 0 0 0;
	//@include box-sizing;
	//@include clear;

	.row {
		display: table;
		.col-footer {
			display: table-cell;
			float: none;
			vertical-align: middle;

			&.footer-endereco {
				.redes {
					display: none;
				}
			}

			@media all and (max-width: 1200px) {
				width: 50%;

				&.col-1, &.footer-redes {
					display: none;
				}

				&.footer-endereco {
					.redes {
						display: inline-block;
					}
				}
			}

			@media all and (max-width: 750px){
				width: 100%;
				display: block;

				&.footer-endereco {
					margin-top: 30px;
				}
			}
		}
	}

    a {
    	text-decoration: none;

    	&:hover {
    		opacity: .5;
    	}
    }

	.logo {

		h1 {
		    width: 220px;
		}

		p {
		    font-size: 12px;
		    text-align: left;
		    opacity: .7;
		}
	}


	.footer-contato {
		.fone-footer {
			width: 100%;
			font-size: 1.2rem;
			color: #ffffff;
			text-decoration: none;
			font-family: $lato;

			strong {
				font-size: 2rem;
				color: #ffffff;
				font-family: $lato;
			}

			p {
			    font-size: 12px;
			    text-align: left;
			    opacity: .7;
			}
		}

		.redes {
			text-align: center;
			a {
				display: inline-block;
				padding: 5px;
				margin: 0 3px;
			}

			i {
				font-size: 30px;
				color: #ffffff;
				@include animacao;

			    &:hover {
			    	opacity: .6;
			    }
			}
		}
	}
}


.copy {
	background-color: darken($azul-escuro, 5%);
	margin: 50px 0 0 0;
	padding: 10px 0;
	@include clear;

	.ultimate {
		h5 {
			color: #8c8c8c;
			font-size: 12px;
			display: inline-block;
		}

		a {
			display: inline-block;
			color: #8c8c8c;
			float: right;
			font-size: 12px;
			@include animacao;

			&:hover {
				color: #ffffff;
			}
		}
	}
}