/* menu mobile */
.menu-mobile {
	display: none;
	float: right;
	width: 40px;
	height: 30px;
	margin-top: 42px;
	text-decoration: none;
	position: relative;
	z-index: 99999;

	@media all and (max-width: 1100px) {
		display: block;
	}

	span {
		display: block;

		em {
			font-style: normal;
			color: #6a6c74;
			font-size: 3rem;
			line-height: 2rem;
			display: block;
			text-decoration: none;
			margin-top: -2px;
			@include animacao();

			&:hover {
				color: $azul;
			}
		}
	}

	&.active {
		text-align: center;
		margin-top: 0px;
		position: fixed;
		right: 55px;

		span {
			em {
				color: #ffffff;
				text-decoration: none;
			}
		}

		@media all and (max-width: 600px){
			top: 25px;
			right: 38px !important;
		}
	}

	&:not(.active){
		span {
			position: relative;

			em {
				display: none;
			}

			&:before, &:after {
				content: '';
				position: absolute;
			}

			&:before {
				top: 11px;
			}

			&:after {
				top: 22px;
			}
		}

		span, span:before, span:after {
			background-color: #6a6c74;
			height: 5px;
			width: 40px;
			@include animacao();
		}

		&:hover {

			span, span:before, span:after {
				background-color: $azul;
			}
		}
	}
}

.nav {
	width: 100%;
	@include box-sizing;

	h1 {
		float: left;
		margin-right: 20px;
	}

	ul {
		float: right;
		margin-top: 30px;

		li {
			display: inline-block;
			padding: 7px 10px 5px;
			@include animacao;

			a {
				font-size: .875rem;
				font-weight: $bold;
				color: #ffffff;
				text-decoration: none;
				text-transform: uppercase;
				@include animacao;
			}

			&.redes {
				top: 1px;
				position: relative;
				//border-radius: 50%;
				height: 35px;
				line-height: 24px;
				width: 35px;
				text-align: center;

				a {
					i {
						font-size: 1.2rem;
						color: #ffffff;
					}
				}
			}

			&:hover {
				background-color: $azul;

				a {
					text-shadow: none;
				}
			}
		}
	}
}

.home {
	.nav {
		position: absolute;
		top: 30px;
		left: 0;

		ul {
			li {
				a {
					text-shadow: 1px 1px 1px #000000;
				}
			}
		}
	}
}

.home {
	.nav ul li.menu-home {
		background-color: $azul;
	}
}

.page-id-77 {
	.nav ul li.menu-sobre {
		background-color: $azul;
	}
}

.category-dicas-e-curiosidades, .single:not(.modalidades-template-default) {
	.nav ul li.menu-dicas-e-curiosidades {
		background-color: $azul;
	}
}

.post-type-archive-modalidades, .tax-modalidades_taxonomy, .single-modalidades {
	.nav ul li.menu-modalidades {
		background-color: $azul;
	}
}

.page-id-135 {
	.nav ul li.menu-horarios {
		background-color: $azul;
	}
}

.page-id-131 {
	.nav ul li.menu-contato {
		background-color: $azul;
	}
}