$width: 1220px;
$padding-container: 40px;
$padding-col: 20px;

$font-size: .875rem;

$cor-txt: #8b8b8a;
$azul: #0083c9;

$azul-escuro: #223441;
$tit-claro: #6f6f6f;

$borda: #d1d1d1;

$light: 300;
$light-italic: 300i;
$regular: 400;
$regular-italic: 300i;
$bold: 700;

$wLogo: 225px;

$hSlide: 65vh;