$width: 1220px;
$padding-container: 40px;
$padding-col: 15px;

$font-size: .875rem;

$cor-txt: #444444;
$vermelho: #dd051c;
$laranja: #fd970f;


$tit-escuro: #424243;
$tit-claro: #6f6f6f;
$azul: #0083c9;

$borda: #d1d1d1;

$light: 300;
$light-italic: 300i;
$regular: 400;
$regular-italic: 300i;
$bold: 700;

$wLogo: 225px;

$hSlide: 85vh;